{% include 'html-header.twig' %}

<body class="{{body_class}}" data-template="base.twig">
	{{ function('wp_body_open') }}

  <!-- NOTE Skip to content does not link properly to index hero controls -->
	<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

	<header style="padding-block: 0;"> <!-- CSS override picocss top padding -->

    <!-- Navbar background / index hero background image -->
		<div style="background-image:url(/wp-content/uploads/2023/11/IMG_20231111_184014_00_030_2023-11-16_18-56-16_screenshot_grade_100-scaled.jpg);
      background-position: top center; background-size: cover; max-width: 2250px; margin: auto auto;">

      <div class="container">
        {% block nav_before %}{% endblock %}

				<nav id="nav-main" role="navigation">
          <a href="{{ site.link }}" title="Home">
            <img src="/wp-content/uploads/2023/11/cropped-logo-smooth-simplified.png"
              alt="Hacklab Jyv채skyl채 logo" style="width: 80px;" />
          </a>
					{% include "menu.twig" with {'items': menu.get_items} %}
				</nav>

        <!-- Mobile menu activated based on mediaquery in style.css -->
        <nav id="nav-mobile" role="navigation">
          <a href="{{ site.link }}" title="Home">
            <img src="/wp-content/uploads/2023/11/cropped-logo-smooth-simplified.png"
              alt="Hacklab Jyv채skyl채 logo" style="width: 60px;" />
          </a>
          <details id="nav-mobile-btn" class="dropdown" style="margin-top:0.2em;">
            <summary style="font-size: 1.1em; height: 2.2em;">
              Menu
            </summary>
            <ul dir="rtl">
              <aside>
                <nav>
                  {% include "menu-mobile.twig" with {'items': menu.get_items} %}
                </nav>
              </aside>
            </ul>
          </details>
				</nav>

        {% block nav_after %}{% endblock %}
      </div>

		</div>
	</header>

	<main id="content" role="main">
		{% if title %}<h1>{{title}}</h1>{% endif %}

    <div class="container">
      {% block content %}
		  {% endblock %}
    </div>

    <!-- TODO sidebar layout not tested -->
		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}

	</main>

  <footer>

    <!-- Footer background image -->
    <div style="background-image:url(/wp-content/uploads/2019/07/Screenshot_20190705_184206.png);
      background-position: center center; background-size: 100%; min-height: 800px;">

      {% include 'footer.twig' %}

    </div>
  </footer>

</body>
</html>
