{% block html_head_container %}

  {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

	{{ function('wp_body_open') }}
	<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

	<header class="container-fluid">

		<div style="background-image:url(/wp-content/uploads/2023/11/IMG_20231111_184014_00_030_2023-11-16_18-56-16_screenshot_grade_100-scaled.jpg); background-position: top center; background-size: cover; max-width: 2250px; margin: auto auto;">

      <div class="container">
        {% block nav_before %}{% endblock %}


				<nav id="nav-main" class="nav-main" role="navigation">
          <a href="{{ site.link }}" title="Home">
            <img src="/wp-content/uploads/2023/11/cropped-logo-smooth-simplified.png"
              alt="Hacklab Jyväskylä logo" style="width:80px;" />
          </a>
					{% include "menu.twig" with {'items': menu.get_items} %}
				</nav>

        {% block nav_after %}{% endblock %}

      </div>
		</div>

	</header>

	<section id="content" role="main">
		{% if title %}<h1>{{title}}</h1>{% endif %}

    {% block content %}
		{% endblock %}

		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</section>

	{% block footer %}
    {% include 'footer.twig' %}
	{% endblock %}

</body>
</html>
