{% extends "base.twig" %}

{% block nav_before %} <!-- Index page "status bar" -->
  <div id="statusbar" class="row between-sm" style="padding-top: 1em; padding-bottom: 1em; color: white;">
    <div class="col-xs-12 col-sm-5">
      <svg viewBox="0 0 16 16" class="bi bi-geo-alt" fill="rgb(145, 194, 112)" height="16" width="16" xmlns="http://www.w3.org/2000/svg">   <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>   <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path> </svg>
      <a href="https://www.openstreetmap.org/?mlat=62.25002&mlon=25.70675#map=18/62.25002/25.70675" style="font-size:15px; color:rgb(145, 194, 112);" target="_blank">Emännäntie 10 O, Jyväskylä</a>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      {% include "visitors.twig" %}
    </div>
  </div>
{% endblock %}

{% block nav_after %} <!-- Index page hero content -->
  <div class="row" style="min-height: 50em; padding-top:33em;">

    <div class="col-md-6">
      <div id="index-hero-controls" style="background: rgba(0, 0, 0, 0.2); padding: 0 0 1em 1em;">
        <h1 style="padding-top: 0.5em; color: white;" class="hdr-logo" role="banner">
		      {{site.name}}
	      </h1>
        <h2 style="color: white; margin-right:0.5em;">Tekevän ihmisen olohuone</h2>
        <a href="/kerhotila/"><button class="">Tule tutustumaan</button></a>
        <a href="https://kuula.co/post/5cXXy/collection/7XF4k" target="_blank"><button class="secondary">VR Tour</button></a>
      </div>
    </div>

  </div>
{% endblock %}


{% block content %}

  <section>
    <div class="row">
      <h2>Mikä Hacklab?</h2>
      <p>Hacklab Jyväskylä ry on yhdistys, jota kuvaillaan kansainvälisesti nimellä makerspace tai hackerspace. Tällaisten yhdistysten aatteisiin kuuluu tieto- ja kädentaitojen avoin jakaminen ja niiden mahdollistaminen kaikille kiinnostuneille. Yhdistys on esimerkiksi yhdessä Linkki Jyväskylä ry kanssa järjestänyt digitaalisen tekemisen Instanssi -festivaalia, kehittänyt ja käyttänyt runsaasti avoimen lähdekoodin ohjelmistoja, tarjonnut käyttökoulutusta ja apua kaikenlaiseen askarteluun sekä puutöihin ja järjestänyt pieniä seminaareja ohjelmistokehityksen teoreettisista puolista.</p>
    </div>

    <div class="row middle-md center-xs">
      <div class="col-md">
        <article>
          <h3>Yhteisölliset työtilat</h3>
          <p>Monipuolinen työtila ja välineet edulliseen jäsenhintaan opiskelija-alennuksin.</p>
          <footer>
            <div role="group">
              <a href="/yhdistys/jasenyys/"><button>Hae jäseneksi</button></a>
            </div>
          </footer>
        </article>
      </div>
      <div class="col-md">
        <article>
          <h3>Harrasteseuraa paikallisesti ja verkossa</h3>
          <p>Aktiivinen ja avulias chat ryhmä jossa osaajia erilaisilta teknisiltä ja taiteellisilta aloilta.</p>
          <footer><div role="group">
            <a href="/kerhotila/ryhmakeskustelu/"><button>Liity chat-kanavalle</button></a>
          </div></footer>
        </article>
      </div>
      <div class="col-md">
        <article>
          <h3>Osa Suomen Hacklabien verkostoa</h3>
          <p>Suomessa on Hacklabeja jo 15 kaupungissa.</p>
          <footer>
            <div role="group">
              <a href="https://hacklab.fi/"><button>Katso lisää</button></a>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </section>

  <section>
    <h2>Labin välineistöä</h2>
    <div class="row middle-md center-xs">
      <div class="col-md-6 col-lg-3">
        <article>
          <h3>Tekniset työt</h3>
          <p>Kattava valikoima puu-, metalli- ja elektroniikka­työkaluja, CNC-jyrsin, laserleikkuri, 3D-tulostin Prusa i3 MK3S, sekä ompelukone ja saumuri.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg">
        <article>
          <h3>Puitteet rentoon ajanviettoon</h3>
          <p>Keittiö, sauna, videotykki, sohvanurkkaus, kokoelma pelikonsoleita ja pelejä.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg">
        <article>
          <h3>Virtuaalitodellisuus</h3>
          <p>Tutustu virtuaalitodellisuuden immersiiviseen maailmaan HTC Vivellä ja kattavalla pelivalikoimalla hiljattain valmistuneessa VR-huoneessa.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg">
        <article>
          <h3>Radioamatööritoiminta</h3>
          <p>T2FD-antenni ja radioasema radioamatööritoimintaan HF-taajuuksilla. Lisäksi antennit 2m ja 70cm taajuuksille. Radio­asema­tunnus OH6DDR.</p>
        </article>
      </div>
    </div>
  </section>

  <section>
    <h2>Viimeisimmät artikkelit blogissa</h2>
    <article>
      {{ include('partial/postlist-2col.twig') }}
      <div class="row center-xs">
        <div class="col-xs-6">
          <a href="/blogi"><button style="margin-top:1em; margin-bottom:1em;">Selaa lisää</button></a>
        </div>
      </div>
    </article>
  </section>

  <section>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h2>Tiedotteet</h2>
        <ul>
          {% for post in news %}
            <li>{{post.date}} <a href="{{post.link}}">{{post.title}}</a></li>
	        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h2>Tapahtumakalenteri</h2>
        <article>
          {% apply shortcodes %} [calendar id="283"] {% endapply %}
        </article>
      </div>
    </div>
  </section>

{% endblock %}
