<!-- NOTE
     - PicoCSS does not support hover dropdowns used in previous theme
       (https://github.com/picocss/pico/issues/358)
     - Supports only 2 levels, add more only if absolutely necessary -->
{% if menu %}

	<ul style="background: rgba(0, 0, 0, 0.2);">

	  {% for item in items %}

      {% if item.children %}  <!-- Menu with dropdown -->

        <li class="{{ item.classes | join(' ') }}">
			    <a target="{{ item.target }}" href="{{ item.link }}" style="color: white;">{{ item.title }}</a>
		    </li>

        <!-- TODO check screen reader compatibility -->
        <details class="dropdown" style="margin-right: 0.5em; margin-left: 0; width: 1.5em;">
          <summary style="background-color:rgb(0,0,0,0); border:none;"></summary>
          <ul dir="rtl">
            {% for child in item.children %}
		          <li class="{{ item.classes | join(' ') }}">
			          <a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
		          </li>
	          {% endfor %}
          </ul>
        </details>

      {% else %}

        <li class="{{ item.classes | join(' ') }}">
			    <a target="{{ item.target }}" href="{{ item.link }}" style="color: white;">{{ item.title }}</a>
		    </li>

      {% endif %}

	  {% endfor %}
	</ul>

{% else %}
  <p>Error in menu.twig: Can't load menu here because one is not set.</p>
{% endif %}
