{% extends "base.twig" %}

{% block content %}
  {{ parent() }}

  <section>
    <h1>Blogi WIP wip</h1>
    <div class="row">
	    {% for post in posts %}
        <div class="col-md-3 col-xs-6">
		      <h2 class="h2"><a href="{{post.link}}">{{ post.title }}</a></h2>
	        <!-- <p>{{ post.excerpt({ words:20, read_more: "Read more..." }) }}</p> -->
	        {% if post.thumbnail.src %}
		        <img src="{{ post.thumbnail.src | letterbox(300, 300) }}" />
	        {% endif %}
          <!-- <p>{{ post.excerpt({ words:20, read_more: "Read more..." }) }}</p> -->
        </div>
	    {% endfor %}
    </div class="row">
    TODO pagination not working
	  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </section>

{% endblock %}
