{% extends "tease.twig" %}

{% block content %}

	<h2 class="h2" style="margin-top:0"><a href="{{post.link}}">{{ post.title }}</a></h2>
  <div class="row">

    <div class="col-xs">
      <p>{{ post.excerpt({ words:17, read_more: "Lue lisää..." }) }}</p>
      <p style="margin-bottom:0"><strong>{{ post.date }}</strong> {{ post.author }}

        <!-- TODO issue with archive pages -->
        {#% for term in post.terms({ taxonomy: 'category' }) %#}
        <!-- <a href="{{ term.link }}">{{ term.title }}</a> -->
        {#% endfor %#}
      </p>

    </div>
	  {% if post.thumbnail.src %}
	    <div class="col-xs-4">
        <a href="{{ post.link }}">
		      <img src="{{ post.thumbnail.src('medium') }}" style="width:200px; height: 150px; object-fit: cover;" />
        </a>
      </div>
	  {% endif %}

  </div>


{% endblock %}
